{{ "<!-- navigation -->" | safeHTML }}
{{ if or (eq .Section "brands") (eq .Section "")}}
<header class="fixed-top navigation nav-bg nav-js-target">
{{else}}
<header class="fixed-top navigation nav-bg nav-bg-white">
{{end}}
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}"><img class="img-fluid"
          src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-align-right h3 text-black"></i>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <div class="navbar-first-row">
          <a href="{{ .Site.Params.shopurl_login }}{{.Lang }}"><img src="//images/
user-icon.svg" style="height:22px;"> Login</a>
          {{ $siteLanguages := .Site.Languages}}
        {{ $pageLang := .Page.Lang}}
        {{ range .Page.AllTranslations }}
        {{ $translation := .}}
        {{ range $siteLanguages }}
        {{ if eq $translation.Lang .Lang }}
        {{ $selected := false }}
        {{ if eq $pageLang .Lang}}
        <a class="language-select language-active" id="{{ $translation.Language }}"
          href="{{ $translation.Permalink }}">{{ .LanguageName | upper }}
        </a>
        {{ else }}
        <a class="language-select" id="{{ $translation.Language }}" href="{{ $translation.Permalink }}">{{ .LanguageName | upper }}</a>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <!-- <a class="nav-link" href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Home }}</a> -->
          </li>
          {{ $sitebase := .Site.BaseURL }}
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          {{ if ne .Name "Downloads"}}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href='{{ $sitebase | relLangURL }}#downloads'>{{ .Name }}</a>
          </li>
          {{end}}
          {{ end }}
          {{ end }}
          <!-- -->
          <!-- -->
          <li class="nav-item menu-small"><a class="nav-link" href="{{ .Site.Params.shopurl_login }}"><img src="//images/
user-icon.svg" style="height:22px;"> Login</a></li>
        </ul>

        <!-- Language List -->
        {{ if .IsTranslated }}
        <select class="m-2 border-0 menu-small" id="select-language" onchange="location = this.value;">
          {{ $siteLanguages := .Site.Languages}}
          {{ $pageLang := .Page.Lang}}
          {{ range .Page.AllTranslations }}
          {{ $translation := .}}
          {{ range $siteLanguages }}
          {{ if eq $translation.Lang .Lang }}
          {{ $selected := false }}
          {{ if eq $pageLang .Lang}}
          <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
          </option>
          {{ else }}
          <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
          {{ end }}
          {{ end }}
          {{ end }}
          {{ end }}
        </select>
        
        {{ end }}

        {{ if .Site.Params.search }}
        {{ "<!-- search -->" | safeHTML }}
        <div class="search px-4">
          <button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
          <div class="search-wrapper">
            <form action="{{ `search`| relLangURL }}" class="h-100">
              <input class="search-box px-4" id="search-query" name="s" type="search"
                placeholder="{{ i18n ` search_placeholder`}}">
            </form>
            <button id="searchClose" class="search-close"><i class="ti-close text-dark"></i></button>
          </div>
        </div>
        {{ end }}
      </div>
    </nav>
  </div>
</header>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{{ "<!-- /navigation -->" | safeHTML }}